[submodule "third_party/msgpack-c"]
	path = third_party/msgpack-c
	url = https://github.com/msgpack/msgpack-c
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/ycmd"]
	path = third_party/ycmd
	url = git@github.com:vheon/ycmd.git
	branch = nvim
